.main{width:800px;
height:800px;
position:relative;
margin:0 auto;
background-color:#F1E9ED;
}


.caption{width:800px;
height:100px;
position:absolute;
top:80px;
font-size:45px;
font-weight:bold;
font-style:italic;
color:#730945;
text-align:center;}
